* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;

}

.header {
    margin: 0;
    background-color: black;
    box-shadow: 0 0 0.2rem 0.0625rem #a88a61;
    width: 100%;
    height: 60px;
    top: 0;
    opacity: 0.8;
}

.header-nav {
    width: 100%;
    padding: 0.285rem 10rem;
    text-align: center;
    /* align-items: center; */

}

.header-nav__container {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0;
    width: 100%;
    /* padding: 0 1rem; */
}

.header-nav__link-logo-container {
    display: flex;
    width: 40px;
    /* height: auto; */
}

.header-nav__link-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.block{
    position: relative;
}

.header-nav__menu-list {
    display: flex;
    gap: 3rem;
    padding: 0;
    list-style: none;
    width: 100%;
    ;
}

.header-nav__menu-item {
    display: flex;
}

.header-nav__menu-link {
    position: relative;
    color: #aaaaaa;
    text-decoration: none;
    transition: 0.25s;
    /* height: 3rem; */

}

.header-nav__menu-link:hover {
    color: white;
}

.header-nav__menu-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 0;
    height: 0.1rem;
    background-color: #a88a61;
    transition: 0.25s;
}

.header-nav__menu-link--active::before,
.header-nav__menu-link:hover:before {
    width: 100%;
}

.header-nav__contact-container {
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    /* margin right: 6rem; */
}

.header-nav__img-container {
    margin-right: 15px;
}

.header-nav__img {
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #A88A61;
}

.header-nav__contact-information {
    display: block;
}

.header-nav__information-call {
    margin: 0;
    font-size: 16px;
    align-items: flex-start;
}

.header-nav__information-work {
    color: #aaaaaa;
    font-size: 14px;
    margin: 0 auto;
    min-width: 9rem;
}

.main {
    /* main de lener */
    margin-top: 60px;
    /* main de lener */
    padding: 1rem;
    /* main de lener */
}


html {
    scroll-behavior: smooth;
    background-image: black;
}

h1 {
    font-size: 2.5em;
    color: #fff;
}

p.grupo {
    color: #fff;
    font-size: 1.8em;

}

.logo {
    font-family: 'Gill Sans', 'Gill Sans MT', Arial, Helvetica, sans-serif, 'Trebuchet MS', sans-serif;
    color: rgb(216, 216, 236);
    font-size: 2.5em;
    margin: auto;
    padding: 0;
    justify-content: space-between;
    display: flex;
}

h2 {
    color: aliceblue;
}

h3 {
    color: aliceblue;
    position: relative;
}

#body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;


}

.segunda {
    color: rgb(235, 214, 98);
}

#somos {
    text-align: center;
    padding: 120px;
}

.banner {
    width: 100%;
    height: 650px;
    background-size: 100% 100%;
    animation: banner 10s infinite linear alternate;
    animation-direction: alternate;
    justify-content: center;
    align-items: center;
}

#somos .banner {
    display: flex;
    justify-content: center;
}

.texto {
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

#somos .img-container {
    background-color: rgb(0, 0, 0, 0.6);
}

#participantes .container {
    background-color: rgb(30, 30, 30);
    color: white;
    width: 100%;
    height: 100%;
}

#participantes .container {
    text-align: center;
    padding: 32px;
}


#participantes h2 {
    margin-top: 0;
    justify-items: flex-end;
}

#participantes .carta {
    background-position: center center;
    background-size: cover;
    padding: 100px;
    margin: 12px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://cms.modumb.com/storage/videos/_635x585/arreglo-basico-de-barba.jpg);
    background-size: cover;
    background-position: center center;
    margin: 12px;
    height: 400px;
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/barba-de-gillette-1606494417.jpg?crop=0.473xw:1.00xh;0.0673xw,0&resize=640:*);
    background-position: center center;
    background-size: cover;
    margin: 12px;
    height: 400px;
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(https://ath2.unileverservices.com/wp-content/uploads/sites/13/2022/04/27193642/cortes-de-pelo-con-barba-19.jpg);
    background-position: center center;
    margin: 12px;
    height: 400px;
}

#participantes h3 {
    justify-content: end;
    text-align: center;

}

@keyframes banner {

    0%,
    30% {
        background-image: url(https://www.comunicare.es/wp-content/uploads/2021/02/aprender-a-programar-despues-de-los-30.jpg);
        opacity: 0.8;
    }

    40%,
    60% {
        background-image: url(https://windowsxcenter.com/wp-content/uploads/2022/05/Why-we-all-need-to-learn-coding.webp.webp);
        opacity: 0.8;
    }


    65%,
    100% {
        background-image: url(https://www.alten.com/wp-content/uploads/2018/08/shutterstock_626435660.jpg);
        opacity: 0.8;
    }

}


@media (min-width: 720px) {
    .body {
        width: 100%;
    }

    header {
        position: fixed;
        width: 8%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header .nav {
        flex-direction: row;
        padding-right: 20px;
    }

    #somos .texto {
        text-align: center;
        padding: 0px 30px;
    }

    #participantes .nosotros {
        display: flex;
        justify-content: center;
    }

    #participantes p {
        display: block;
    }

    #participantes .carta {
        padding: 5px;
    }

    #participantes h3 {
        margin-top: 0;
    }

    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.footer {
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(13, 0, 8, 0.833);
    gap: 2rem;
}

.footer__container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    color: #fff;
    gap: 5rem;
}

.footer-nav__link-list {
    display: block;
    padding: 0px;
    list-style: none;

}

.footer__container-img {
    display: flex;
}

.footer-img__logo {
    width: 250px;
}

.footer-nav__title {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.footer-nav__link {
    text-decoration: none;
    color: white;
}

.Hector {
    width: 100%;
    border-top: 5px;
    border-color: #fff;

    text-align: center;
}